.box{
  border-radius: 4px;
  background-color: lightgray;
  padding: 5%;
  }
  
  .inputAge{
    border: 2px solid gray;
    border-radius: 4px;
    width: 70%;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    margin : 3px;
  }
  .inputAge:focus{
    width: 20%;
    border: 2px solid lightblue;
  }
  .inputAge:focus::-webkit-input-placeholder { 
    color: transparent; 
  }
  
  .inputNom{
    border: 2px solid gray;
    border-radius: 4px;
    width: 15rem;
    margin : 3px;
  }
  .inputNom:focus{
    border: 2px solid lightblue;
  }
  .inputNom:focus::-webkit-input-placeholder { 
    color: transparent; 
  }
  
  .inputSexe{
    border: 2px solid gray;
    border-radius: 4px;
    background-color:white;
    margin : 3px;
  }